# Xcode
build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
#*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
.idea
.DS_Store
Pods
Podfile.lock

# NodeJS
.DS_Store
.#*
*.swp

target
release.properties

*~
.idea
package-dev.json
node_modules
devoxx-proxy/node_modules
.project
.classpath
.settings
tags
dump
build_*
build/*
test-reports/*

#Redis
nodejs-xebia-mobile-proxy/application/dump.rdb

#Working dir
target

Scripts/Certs/dev.cer
Scripts/Certs/dev.p12
Scripts/Profiles/*.mobileprovision
Server
