<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
        <dict>
            <key>Title</key>
            <string>Crashlytics</string>
            <key>FooterText</key>
            <string>
Commercial license - See web site: http://try.crashlytics.com/terms/
            </string>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
        </dict>
        <dict>
            <key>DefaultValue</key>
            <string>???</string>
            <key>Key</key>
            <string>PKRevealControllerVersion</string>
            <key>Title</key>
            <string>Version</string>
            <key>Type</key>
            <string>PSTitleValueSpecifier</string>
        </dict>

    </array>
	<key>StringsTable</key>
	<string>Crashlytics</string>
</dict>
</plist>
