<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
        <dict>
            <key>Title</key>
            <string>Licenses</string>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
        </dict>

        <dict>
            <key>Title</key>
            <string>AFNetworkActivityLogger</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>
            <key>File</key>
            <key>AFNetworkActivityLogger</key>
        </dict>
        <dict>
            <key>Title</key>
            <string>AFNetworking</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>
            <key>File</key>
            <key>AFNetworking</key>
        </dict>
        <dict>
            <key>Title</key>
            <string>Appirater</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>
            <key>File</key>
            <key>Appirater</key>
        </dict>
        <dict>
            <key>Title</key>
            <string>Crashlytics</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>
            <key>File</key>
            <key>Crashlytics</key>
        </dict>
        <dict>
            <key>Title</key>
            <string>DCIntrospect</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>
            <key>File</key>
            <key>DCIntrospect</key>
        </dict>
        <dict>
            <key>Title</key>
            <string>DCKeyValueObjectMapping</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>
            <key>File</key>
            <key>DCKeyValueObjectMapping</key>
        </dict>
        <dict>
            <key>Title</key>
            <string>DTCoreText</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>
            <key>File</key>
            <key>DTCoreText</key>
        </dict>
        <dict>
            <key>Title</key>
            <string>DTFoundation</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>
            <key>File</key>
            <key>DTFoundation</key>
        </dict>
        <dict>
            <key>Title</key>
            <string>GoogleAnalytics</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>
            <key>File</key>
            <key>GoogleAnalytics</key>
        </dict>
        <dict>
            <key>Title</key>
            <string>InAppSettingsKit</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>
            <key>File</key>
            <key>InAppSettingsKit</key>
        </dict>
        <dict>
            <key>Title</key>
            <string>MBProgressHUD</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>
            <key>File</key>
            <key>MBProgressHUD</key>
        </dict>
        <dict>
            <key>Title</key>
            <string>NewRelicAgent</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>
            <key>File</key>
            <key>NewRelicAgent</key>
        </dict>
        <dict>
            <key>Title</key>
            <string>NXEmptyView</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>
            <key>File</key>
            <key>NXEmptyView</key>
        </dict>
        <dict>
            <key>Title</key>
            <string>OCMock</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>
            <key>File</key>
            <key>OCMock</key>
        </dict>
        <dict>
            <key>Title</key>
            <string>ParseKit</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>
            <key>File</key>
            <key>ParseKit</key>
        </dict>
        <dict>
            <key>Title</key>
            <string>PKRevealController</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>
            <key>File</key>
            <key>PKRevealController</key>
        </dict>
        <dict>
            <key>Title</key>
            <string>Reachability</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>
            <key>File</key>
            <key>Reachability</key>
        </dict>
        <dict>
            <key>Title</key>
            <string>SDURLCache</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>
            <key>File</key>
            <key>SDURLCache</key>
        </dict>
        <dict>
            <key>Title</key>
            <string>SDWebImage</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>
            <key>File</key>
            <key>SDWebImage</key>
        </dict>
        <dict>
            <key>Title</key>
            <string>SecureUDID</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>
            <key>File</key>
            <key>SecureUDID</key>
        </dict>
        <dict>
            <key>Title</key>
            <string>SenTestingKitAsync</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>
            <key>File</key>
            <key>SenTestingKitAsync</key>
        </dict>
        <dict>
            <key>Title</key>
            <string>ShareKit</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>
            <key>File</key>
            <key>ShareKit</key>
        </dict>
        <dict>
            <key>Title</key>
            <string>SVPullToRefresh</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>
            <key>File</key>
            <key>SVPullToRefresh</key>
        </dict>
        <dict>
            <key>Title</key>
            <string>TestFlightSDK</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>
            <key>File</key>
            <key>TestFlightSDK</key>
        </dict>
        <dict>
            <key>Title</key>
            <string>TTTAttributedLabel</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>
            <key>File</key>
            <key>TTTAttributedLabel</key>
        </dict>
        <dict>
            <key>Title</key>
            <string>Underscore.m</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>
            <key>File</key>
            <key>Underscorem</key>
        </dict>
        <dict>
            <key>Title</key>
            <string>ZXingObjC</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>
            <key>File</key>
            <key>ZXingObjC</key>
        </dict>
    </array>
	<key>StringsTable</key>
	<string>Licenses</string>
</dict>
</plist>
