<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundles</key>
	<array>
		<dict>
			<key>associated Xcode projects</key>
			<array/>
			<key>change date</key>
			<date>2001-01-01T00:00:00Z</date>
			<key>class</key>
			<string>BLBundleObject</string>
			<key>errors</key>
			<array/>
			<key>files</key>
			<array>
				<dict>
					<key>attachments</key>
					<dict>
						<key>backup</key>
						<dict>
							<key>1</key>
							<dict>
								<key>class</key>
								<string>BLWrapperHandle</string>
								<key>name</key>
								<string>Localizations/InfoPlist/1/InfoPlist.strings</string>
							</dict>
						</dict>
					</dict>
					<key>change date</key>
					<date>2012-07-23T22:33:58Z</date>
					<key>class</key>
					<string>BLStringsFileObject</string>
					<key>errors</key>
					<array/>
					<key>flags</key>
					<integer>0</integer>
					<key>hash</key>
					<string>b8f0b99a609bda18c49eed43bb052224
</string>
					<key>name</key>
					<string>InfoPlist.strings</string>
					<key>objects</key>
					<array/>
					<key>plist file</key>
					<false/>
					<key>snapshots</key>
					<dict/>
					<key>versions</key>
					<dict>
						<key>en</key>
						<string>1</string>
					</dict>
				</dict>
				<dict>
					<key>attachments</key>
					<dict>
						<key>backup</key>
						<dict>
							<key>1</key>
							<dict>
								<key>class</key>
								<string>BLWrapperHandle</string>
								<key>name</key>
								<string>Localizations/Wordings/1/Wordings.strings</string>
							</dict>
						</dict>
					</dict>
					<key>change date</key>
					<date>2013-06-29T11:43:45Z</date>
					<key>class</key>
					<string>BLStringsFileObject</string>
					<key>errors</key>
					<array/>
					<key>flags</key>
					<integer>0</integer>
					<key>hash</key>
					<string>d7c67189aa3afc26cd593d83df3e68c2
</string>
					<key>name</key>
					<string>Wordings.strings</string>
					<key>objects</key>
					<array>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Wordings.strings
 xebia-ios

 Created by Alexis Kinsella on 29/06/13.
 Copyright (c) 2013 Xebia. All rights reserved.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>HH:mm</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>HH:mm</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Wordings.strings
 xebia-ios

 Created by Alexis Kinsella on 29/06/13.
 Copyright (c) 2013 Xebia. All rights reserved.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Today, %@</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Today, %@</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Wordings.strings
 xebia-ios

 Created by Alexis Kinsella on 29/06/13.
 Copyright (c) 2013 Xebia. All rights reserved.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Yesterday</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Yesterday</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Wordings.strings
 xebia-ios

 Created by Alexis Kinsella on 29/06/13.
 Copyright (c) 2013 Xebia. All rights reserved.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Two days ago</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Two days ago</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Wordings.strings
 xebia-ios

 Created by Alexis Kinsella on 29/06/13.
 Copyright (c) 2013 Xebia. All rights reserved.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>This week</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>This week</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Wordings.strings
 xebia-ios

 Created by Alexis Kinsella on 29/06/13.
 Copyright (c) 2013 Xebia. All rights reserved.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Last week</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Last week</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Wordings.strings
 xebia-ios

 Created by Alexis Kinsella on 29/06/13.
 Copyright (c) 2013 Xebia. All rights reserved.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>This month</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>This month</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Wordings.strings
 xebia-ios

 Created by Alexis Kinsella on 29/06/13.
 Copyright (c) 2013 Xebia. All rights reserved.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Last month</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Last month</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Wordings.strings
 xebia-ios

 Created by Alexis Kinsella on 29/06/13.
 Copyright (c) 2013 Xebia. All rights reserved.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Within last three months</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Within last three months</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Wordings.strings
 xebia-ios

 Created by Alexis Kinsella on 29/06/13.
 Copyright (c) 2013 Xebia. All rights reserved.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Within last six months</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Within last six months</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Wordings.strings
 xebia-ios

 Created by Alexis Kinsella on 29/06/13.
 Copyright (c) 2013 Xebia. All rights reserved.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Within this year</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Within this year</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Wordings.strings
 xebia-ios

 Created by Alexis Kinsella on 29/06/13.
 Copyright (c) 2013 Xebia. All rights reserved.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>A long time ago</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>A long time ago</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Wordings.strings
 xebia-ios

 Created by Alexis Kinsella on 29/06/13.
 Copyright (c) 2013 Xebia. All rights reserved.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>yyyy'/'MM'/'dd', 'hh':'mm</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>yyyy'/'MM'/'dd', 'hh':'mm</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
					</array>
					<key>plist file</key>
					<false/>
					<key>snapshots</key>
					<dict/>
					<key>versions</key>
					<dict>
						<key>en</key>
						<string>1</string>
					</dict>
				</dict>
			</array>
			<key>flags</key>
			<integer>0</integer>
			<key>name</key>
			<string>Resources/Localizations</string>
			<key>naming style</key>
			<integer>1</integer>
			<key>referencing style</key>
			<integer>1</integer>
			<key>user name</key>
			<string>Localizations</string>
		</dict>
	</array>
	<key>languages</key>
	<array>
		<string>en</string>
		<string>fr</string>
	</array>
	<key>preferences</key>
	<dict/>
	<key>reference language</key>
	<string>en</string>
	<key>supports preview</key>
	<true/>
	<key>version</key>
	<integer>4</integer>
</dict>
</plist>
