<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Resources/Splashscreens/Default.png</string>
				<string>Resources/Splashscreens/Default@2x.png</string>
				<string>Resources/Splashscreens/Default-Landscape@2x~ipad.png</string>
				<string>Resources/Splashscreens/Default-Landscape~ipad.png</string>
				<string>Resources/Splashscreens/Default-Portrait~ipad.png</string>
				<string>Resources/Splashscreens/Default-Portrait@2x~ipad.png</string>
				<string>Resources/Splashscreens/Default-Portrait@2x~ipad.png</string>
				<string>Resources/Splashscreens/Default-Portrait@2x~ipad.png</string>
				<string>Resources/Splashscreens/Default-Portrait~ipad.png</string>
				<string>Resources/Splashscreens/Default-Portrait~ipad.png</string>
				<string>Resources/Splashscreens/Default-Portrait@2x~ipad.png</string>
				<string>ios-icon-57.png</string>
				<string>ios-icon-114.png</string>
				<string>ios-icon-72.png</string>
				<string>ios-icon-144.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>fr.xebia.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Xebia</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Lobster.ttf</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>MainStoryboard</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>MainStoryboard</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarHidden~ipad</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>XBBaseUrl</key>
	<string>http://xebia-mobile-backend.helyx.org</string>
	<key>XBBlogFranceEmail</key>
	<string>blog-france@xebia.com</string>
</dict>
</plist>
